# Python bytecode
__pycache__/
*.pyc

# VSCodeの設定フォルダ
.vscode/

# Streamlitのキャッシュフォルダ
.streamlit/

# Excelファイル（成果物など）
# *.xlsx
!Scripts/**/*.xlsx

# CSVファイル（成果物など）
# *.csv
!Scripts/**/*.csv

# ログファイル
*.log

# Windowsシステムファイル
Thumbs.db
desktop.ini


